/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.column{
  display:inline-block;
  width:33%;

}
.small{
  width:100%;
  height:100%;
}

.long{
  width:100%;
  height:200%;
}

.large{
  margin: 0 3px 3px 3px;
  width:201%;
  height:201%;
}

.shadow{
  margin: 3px 3px 3px 3px;
}


